<h1>Editing photo</h1>

<%= render "form", photo: @photo %>

<br><hr>

<div>
  <%= link_to "Show this photo", @photo %> | |
  <%= link_to "Back to photos", photos_path, class: "text-secondary" %>
</div>
